.table-container {
  display: grid;
  place-items: center;
  scale: 95%;

  /* Define grid layout */
  grid-template-areas:
    "header"
    "content";
}

.header-title {
  margin-bottom: 10px; /* Adjust spacing as needed */
  grid-area: header; /* Assign this element to the 'header' area */
  margin-bottom: 10px;
  text-align: center; /* Center-align text */
}

.add {
  justify-self: end;
}

.table-content {
  grid-area: content; /* Assign this element to the 'content' area */
  width: max-content; /* or min-content; Adjust as needed */
  /* Other styles for your table */
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid rgb(206, 201, 201);
}